.footer__container {
    background-color: var(--color__principal);
    padding: 2em;
    border-top: 2px solid var(--color__neutro__oscuro);
    color: var(--color__neutro__claro);
    transition: all .3s ease-in;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer__section {
    flex: 1;
    margin-bottom: 20px;
    text-align: center;
}

.footer__section h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer__section p {
    font-size: 16px;
    line-height: 1.5;
}

.footer__social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer__social__icons img {
    width: 30px;
    height: 30px;
    margin: 5px 17px;
    cursor: pointer;
}

.footer__copy {
    text-align: center;
    margin-top: 32px;
    font-size: 14px;
    opacity: 0.7;
}

.footer__g404__link {
    color: var(--color__neutro__claro);
    text-shadow: -2px 1px 1px var(--color__neutro__oscuro);
}

@media screen and (max-width: 600px) {
    .footer__content {
        flex-direction: column;
    }
    .footer__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 22px 0;
    }
}