/*CONTENEDOR DE CATEGORIAS*/

.home__container {
    width: 100%;
    min-height: 100dvh;
    background-image: url("../images/practica/campo__flores.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.home__categorias__container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding: 66px 10px;
    box-shadow: -1px -10px 29px var(--color__neutro__oscuro);
    background: #0009;
}

.categorias__container {
    width: 300px;
    min-width: 300px;
    height: 350px;
    border: 2px solid black;
    border-radius: 17px;
}

.categorias__color__container {
    background-image: url("../images/practica/semilla.jpg");
}

.categorias__tamaño__container {
    background-image: url("../images/practica/maceta.webp");
}

.categorias__otros__container {
    background-image: url("../images/practica/descarga\ \(1\).jpg");
}

.categorias__color__container,
.categorias__tamaño__container,
.categorias__otros__container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.categoria__card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.categoria__card__title__container {
    flex: 1;
    background: #fff7;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    align-items: center;
    text-shadow: -2px 2px 1px var(--color__principal);
    border-radius: 17px 17px 0 0;
}

.categoria__card__button__container {
    flex: 1;
    background: #fff7;
    border-radius: 0 0 17px 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categoria__card__button {
    padding: 7px 34px;
    border: none;
    border-radius: 20px;
    background: var(--color__secundario);
    border: 2px solid var(--color__neutro__oscuro);
    font-size: .9em;
    cursor: pointer;
}

.categoria__card__button:hover {
    filter: brightness(1.2);
}

.categoria__card__button:active {
    filter: brightness(.8);
}

@media screen and (max-width: 950px) {
    .home__categorias__container {
        flex-direction: column;
        align-items: center;
    }
}


/*SOBRE NOSOTROS*/

.home__about__read__more {
    color: var(--color__principal);
    text-shadow: -1px 1px 2px var(--color__neutro__oscuro);
    font-weight: bold;
    cursor: pointer;
}

.home__about__read__more:hover {
    color: var(--color__secundario);
}

.home__about__read__more:active {
    filter: brightness(.8);
}