/* Navbar Styles */

.navbar {
    width: 100%;
    height: 80px;
    background-color: var(--color__principal);
    color: var(--color__neutro__claro);
    position: sticky;
    top: 0;
    z-index: 20;
    border-bottom: 2px solid var(--color__neutro__oscuro);
    transition: .3s ease all;
}

.navbar__content__container {
    display: flex;
    justify-content: space-between;
}


/* Logo Styles */

.navbar__logo__container {
    height: 50px;
    flex: 0.3;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    cursor: pointer;
}


/* Content Styles */

.navbar__content {
    flex: 1;
    height: 80px;
    display: flex;
    flex-direction: column;
}

.navbar__search__bar__container {
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    display: none;
}

.navbar__search__bar {
    border: none;
    background-color: #0001;
    border-bottom: 3px solid var(--color__neutro__oscuro);
    border-radius: 30px;
    height: 77%;
    width: 100%;
    padding: 0 10px;
    color: var(--color__neutro__claro);
    outline: none;
    flex: 1;
    padding-right: 30px;
}

.navbar__search__bar::placeholder {
    color: var(--color__terciario);
}

.navbar__search__icon {
    margin: 19px 0 7px -30px;
}


/* Menu Styles */

.navbar__menu {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s;
}

.navbar__menu__option:hover {
    color: var(--color__secundario);
    cursor: pointer;
}

.navbar__menu__option__active {
    color: var(--color__cuarto);
}

.navbar__menu__button {
    display: none;
}


/* Extra Buttons Styles */

.navbar__extra__buttons__container {
    flex: 0.3;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__cart__button,
.navbar__login__button {
    margin: 0 20px;
    cursor: pointer;
}

.show__search__bar {
    display: flex;
}


/*THEME BUTTON*/

.switch {
    background: var(--color__secundario);
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    outline: none;
    padding: 1px;
}

.switch::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    background: var(--color__neutro__claro);
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, .2);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .2);
}

.active {
    background: var(--color__cuarto);
    color: var(--color__neutro__oscuro);
}

.active::after {
    right: 0;
    left: unset;
}

.switch span {
    width: 24px;
    height: 24px;
    line-height: 30px;
    display: block;
    background: none;
    color: var(--span__color);
}


/* Responsive Styles */

@media screen and (max-width: 680px) {
    .navbar {
        padding-left: 10px;
    }
    .navbar__menu__button {
        display: block;
        margin: 0 20px;
        cursor: pointer;
    }
    .navbar__menu {
        flex-direction: column;
        background-color: var(--color__principal);
        color: var(--color__neutro__claro);
        position: absolute;
        top: 80px;
        opacity: 0;
        width: 100%;
        left: 0;
        justify-content: space-around;
        height: 0;
        text-align: left;
        align-items: start;
        padding: 0 50px;
        border-bottom: 2px solid var(--color__neutro__oscuro);
    }
    .navbar__menu__option {
        background-color: #0009;
        line-height: 40px;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s;
    }
    .navbar__search__bar__container {
        padding: 0 10px;
    }
    .show__search__bar {
        height: 70%;
    }
    .navbar__content {
        justify-content: center;
        padding-bottom: 10px;
    }
    .navbar__cart__button {
        position: fixed;
        bottom: 10px;
        left: 0;
        color: var(--color__principal);
        text-shadow: -1px 1px 10px var(--color__neutro__claro);
        font-size: 2em;
    }
}

.show__menu {
    opacity: 1;
    height: calc(100vh - 277px);
}

.show__menu .navbar__menu__option {
    max-height: 500px;
    padding: 10px;
}